@import url(reset.css);

.main-ref {
  position: absolute;
  top: 10px;
  left: 10px;
}

.main-ref:focus,
.main-ref:hover {
  color: teal;
}

.form {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-top: 30px;
}
