@import url(reset.css);

.main-ref {
  position: absolute;
  top: 10px;
  left: 10px;
}

.main-ref:focus,
.main-ref:hover {
  color: teal;
}

.forms {
  padding-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 15px;
}
.form {
  border: solid 2px black;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
